.fourGroup {
    display: none;
}

.btnXcx {
    position: absolute;
    width: 28%;
    height: 17%;
    background-image: url('https://s3.ax1x.com/2020/12/14/ruSj4s.png');
    background-repeat: no-repeat;
    /* border: none; */
    top: 1600px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: none;
    display: none;
}

.juankuan .juan {
    position: absolute;
    width: 54%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.diandengren {
    position: absolute;
    width: 22%;
    height: auto;
    left: 50%;
    top: 58%;
    transform: translateX(-50%);
}