html,
body {
    width: 100%;
    height: 100%;
}

body {
    /*页面背景图 */
    font-family: sans-serif;
    background-image: linear-gradient( #1e2d59, #192e79, #0069aa);
    /* background: url('https://s3.ax1x.com/2020/11/30/DRZE80.png') no-repeat; */
    background-size: 100%;
}

.tool {
    display: none;
}

.container .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container .header .top_text {
    width: 500px;
}

.footer .montain {
    position: absolute;
    bottom: 0;
    border-bottom: 0px;
    pointer-events: none;
    /* display: none; */
}

.header-bottom-change {
    margin-left: 115px;
    position: relative;
    opacity: 1;
    /* 稍后取消掉 */
    /* display: none; */
}

.container .header-bottom-text-one {
    margin-top: 0px;
    position: absolute;
    top: 306px;
    width: 720px;
    height: auto;
    opacity: 0;
}

.container .header-bottom-text-two {
    margin-top: 0px;
    position: absolute;
    top: 384px;
    width: 720px;
    height: auto;
    opacity: 0;
}

.container .header-bottom-text-three {
    margin-top: 0px;
    position: absolute;
    top: 463px;
    width: 720px;
    height: auto;
    opacity: 0;
}

.container .header-bottom-text-group-two {
    top: 166px;
    left: 127px;
    width: 585px;
    height: auto;
    max-width: 74%;
    max-height: 100%;
    opacity: 0;
    position: absolute;
    display: none;
}

.header-bottom-text-group-three {
    position: absolute;
    top: 41px;
    left: 238px;
    width: 550px;
    height: 140px;
}

.header-bottom-text-group-three-left {
    position: absolute;
    top: 0;
    left: 27px;
    width: 323px;
    height: 406px;
    z-index: 9999999;
}

.header-bottom-text-group-three-bottom {
    position: absolute;
    top: 295px;
    left: 83px;
    width: 44px;
    height: 361px;
}

.header-bottom-text-group-three-hands {
    position: absolute;
    top: 305px;
    left: 250px;
    width: 136px;
    height: 136px;
    animation: header-bottom-text-group-three-hands-time 3s infinite normal;
}

@keyframes header-bottom-text-group-three-hands-time {
    0% {
        opacity: 0;
        top: 305px;
        left: 250px;
    }
    100% {
        opacity: 1;
        top: 251px;
        left: 145px;
    }
}

.footer {
    width: 100%;
    bottom: 0;
}

.footer-bottom-middle :active {
    position: absolute;
    width: 40.64%;
    height: auto;
    bottom: 2.89%;
    left: 30.04%;
    box-shadow: none !important;
    z-index: 0;
}

.footer-bottom-middle {
    position: absolute;
    width: 40.64%;
    height: auto;
    bottom: 2.89%;
    left: 30.04%;
    box-shadow: none !important;
    z-index: 0;
}

.moon_box {
    position: relative;
}

.middle-text-tips {
    position: absolute;
    animation: bottom-top-text 1s infinite alternate;
    width: 45px;
    height: 337px;
    top: 900px;
    left: 483px;
}

.middle-text-tips img {
    width: 45px;
    height: auto;
}

.music-text-detail {
    display: none;
    opacity: 0;
    z-index: 15;
}


/* .music-text-detail .box_music {
width: 50%;
height: auto;
z-index: 15;
} */

.music-text-detail .box_music .zhuangtai {
    width: 35%;
    height: auto;
    position: absolute;
    top: 305px;
    left: 100px;
}

.music-text-detail .box_music .size {
    width: 35%;
    height: auto;
    position: absolute;
}

.music-text-detail .box_music .size_big {
    width: 40%;
    height: auto;
    position: absolute;
}

.music-text-detail .box_music .zhuangtai {
    top: 305px;
    left: 100px;
}

.music-text-detail .box_music .guangling {
    left: 42%;
    top: 17%;
}

.music-text-detail .box_music .meihua {
    left: -10px;
    top: 666px;
}

.music-text-detail .box_music .shenren {
    height: 20%;
    width: auto;
    left: 30%;
    top: 37%;
}

.music-text-detail .box_music .nichang {
    width: 30%;
    left: 68%;
    top: 30%;
}

.music-text-detail .box_music .yueer {
    left: 50px;
    top: 950px;
    height: 350px;
    width: auto;
}

.music-text-detail .box_music .xiaoxiang {
    left: 36%;
    top: 56%;
    height: 24%;
    width: auto;
}

.hands {
    position: absolute;
    animation: bottom-top-text 1s infinite alternate;
    width: 103px;
    height: 106px;
    left: 524px;
    top: 1154px;
}

.hands img {
    width: 103px;
    height: 106px;
    left: 524px;
    top: 1214px;
}

.hands-animation {
    width: 103px;
    height: 106px;
    left: 524px;
    position: absolute;
    top: 1154px;
    animation: hands-animation-one-group 3s infinite normal;
}

.hands-animation img {
    width: 103px;
    height: 106px;
    left: 524px;
}

@keyframes hands-animation-one-group {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 860px;
    }
}

.size {
    width: 100%;
    height: 100%;
}

.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.starGroup1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    /* animation: bottom-top-text 1s infinite alternate; */
}

.starGroup2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    /* animation: bottom-top-text 1s infinite alternate; */
}

.starGroup3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    /* animation: bottom-top-text 1s infinite alternate; */
}

@keyframes bottom-top-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.footer-bottom-right {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    /* z-index: 11; */
}


/* 孔明灯样式 */

.km-light {
    opacity: 0;
}

.km-light .line {
    position: absolute;
    right: 164px;
    bottom: 520px;
    z-index: 10;
    width: 12%;
    height: auto;
}

.footer .km-light .noneline {
    display: inline-block;
    position: absolute;
    right: 164px;
    /* 待修改 */
    bottom: 723px;
    z-index: 10;
    width: 12%;
    height: auto;
    animation: myfirst 5s;
    animation-timing-function: ease 3s;
    /* display: none; */
}

.noneline-descript {
    position: absolute;
    right: 3%;
    bottom: 35%;
    width: 35.1%;
}

.km-light .cut_hands {
    box-shadow: none !important;
    position: absolute;
    right: 6%;
    bottom: 19%;
    height: 18%;
    width: auto;
}

.cut_hands_move {
    box-shadow: none !important;
    position: absolute;
    display: none;
    right: 6%;
    bottom: 19%;
    height: 18%;
    width: auto;
    pointer-events: none;
    animation: hands-cut-hands-one-group 3s infinite normal;
    z-index: 6;
}

@keyframes hands-cut-hands-one-group {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 30%;
    }
}

.starfield {
    display: none;
}

@keyframes myfirst {
    0% {
        right: 164px;
        bottom: 723px;
    }
    98% {
        right: 164px;
        bottom: 1523px;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.footer .km-light .line {
    animation-duration: 5s;
}


/* 点击版 */

.footer .box_music .btn {
    z-index: -1;
    opacity: 0;
}


/* 禁止长按图片保存 */

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}