.xiao {
    position: absolute;
    height: 266.25px;
    /* width: 283.69px; */
    width: 371.69px;
    left: 28px;
    bottom: 54px;
}

.ruan {
    position: absolute;
    width: 205px;
    /* height: 231.35px; */
    height: 348px;
    left: 68px;
    bottom: 287px;
}

.guqin {
    position: absolute;
    width: 100px;
    height: 518px;
    left: 301px;
    bottom: 429px;
}

.konghou {
    position: absolute;
    width: 170px;
    height: 391px;
    left: 448px;
    bottom: 607px;
}

.sheng {
    position: absolute;
    width: 260px;
    height: 235;
    left: 703px;
    bottom: 740px;
}

.xun {
    position: absolute;
    width: 106px;
    height: 145px;
    left: 833px;
    bottom: 1048px;
}

.bianzhong {
    position: absolute;
    width: 438px;
    height: 296px;
    left: 322px;
    bottom: 1111px;
}

.threeGroup {
    display: none;
    opacity: 0;
    z-index: 1000;
}