.xiao {
    position: absolute;
    width: 38%;
    height: auto;
    left: -4%;
    bottom: 4%;
}

.ruan {
    position: absolute;
    width: 50%;
    height: auto;
    left: -10%;
    bottom: 11%;
}

.guqin {
    position: absolute;
    width: 50%;
    height: auto;
    left: 13%;
    bottom: 20%;
}

.konghou {
    position: absolute;
    width: 50%;
    height: auto;
    left: 33%;
    top: 30%;
}

.sheng {
    position: absolute;
    width: 50%;
    height: auto;
    right: 0%;
    top: 30%;
}

.xun {
    position: absolute;
    width: 50%;
    height: auto;
    right: 0%;
    top: 12%;
}

.bianzhong {
    position: absolute;
    width: 50%;
    height: auto;
    top: 8%;
    left: 18%;
}

.threeGroup {
    display: none;
    z-index: 1000;
}