.xiao {
    position: absolute;
    height: 15%;
    /* width: 283.69px; */
    width: 38%;
    left: 3%;
    bottom: 3%;
    z-index: 10;
}

.ruan {
    position: absolute;
    width: 21%;
    height: 20%;
    left: 7%;
    z-index: 10;
    bottom: 16%;
}

.guqin {
    position: absolute;
    width: 10%;
    height: 26%;
    left: 29%;
    z-index: 10;
    bottom: 21%;
}

.konghou {
    position: absolute;
    width: 17%;
    height: 22%;
    left: 45%;
    z-index: 10;
    bottom: 39%;
}

.sheng {
    position: absolute;
    width: 26%;
    height: 13%;
    left: 72%;
    z-index: 10;
    bottom: 43%;
}

.xun {
    position: absolute;
    width: 10.47%;
    height: 8.56%;
    left: 85%;
    z-index: 10;
    bottom: 59%;
}

.bianzhong {
    position: absolute;
    width: 44.73%;
    height: 17.03%;
    left: 33%;
    bottom: 64%;
    z-index: 10;
}

.threeGroup {
    display: none;
    opacity: 0;
    z-index: 1000;
}