.bottom_sign {
    width: 90%;
    position: absolute;
    bottom: 50px;
    left: 5%;
    z-index: 10;
}

.loading-rabbit-img {
    width: 142px;
    height: 88px;
    top: 510px;
    position: relative;
    top: -297px;
}

@keyframes trans-rabbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.trans-rabbit {
    position: absolute;
    left: calc(50% - 71px);
    top: calc(50% - 45px);
    width: fit-content;
    z-index: 999;
    animation: trans-rabbit 8s linear infinite normal;
}

.loading-moon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading-moon-img {
    display: block;
    margin: 0 auto;
    width: 700px;
}

.loading-moon-title {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 45px);
    width: fit-content;
    z-index: 1000;
}

.loading-moon-text {
    position: absolute;
    left: calc(50% - 130px);
    top: calc(50% - -23px);
    width: 108px;
    height: 40px;
    z-index: 1000;
    margin-left: 40px;
}

.loading-moon-dian-div {
    position: absolute;
    left: calc(50% - -20px);
    top: calc(50% - -43px);
}

.loading-moon-dian {
    position: relative;
    width: 10px;
    height: 14px;
    z-index: 1000;
    opacity: 0;
}